* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
  transition: background-image 1.5s ease-in-out;
  -webkit-transition: background-image 1.5s ease-in-out;
}

.overlay {
  position: absolute;
  background-color: rgba(85, 85, 85, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
}

.play__icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.play__icon:hover {
  cursor: pointer;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 120px;
  font-size: 1.2rem;
  border-radius: 10%;
}

.city{
  font-size: 1.5rem;
}

.weather__for_city {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  margin-left: 10px;
}

.time {
  font-size: 6rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.name {
  display: inline-block;
}

.focus {
  display: inline-block;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
