.table {
  position: relative;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
  }
  &__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  &__switchers {
    max-width: 18rem;
  }
  &:hover .fullscreen {
    display: flex;
  }
  &:fullscreen {
    padding: 20rem 40rem;
    background: url(../../assets/images/bg-covid.jpeg);
    background-size: cover;
  }
}

.country__name {
  margin: 0;
  margin-left: 0.6rem;
  font-size: 2.3rem;
  text-align: center;
  color: rgb(46, 46, 46);
}

.flag__img {
  width: 3rem;
  height: 1.5rem;
}

.country__rates {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;

  &_name {
    margin-left: 1.8rem;
    color: rgb(46, 46, 46);
  }
}

.table__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.country__numbers {
  color: #ff1818;
}

.total__btn {
  min-width: 80%;
  display: flex;
  justify-content: center;
}
.total__cases_btn {
  padding: 0.2rem;
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem; 
  background-color: #7cb8fd;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: cadetblue;
    box-shadow: 0 2px 6px rgba($base-color, .5);
  }
}