body {
  margin: 0;
  background-image: url(../assets/img/forest.jpg);
  background-size: cover;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.navigation {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.button {
  width: 50%;
  height: 30px;
  border: none;
  background-color: rgba(4, 112, 0, 0.4);;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
}

.btn__sound {
  width: 10%;
}

.info {
  width: 400px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(4, 112, 0, 0.4);
  color: #ffffff;
  border-radius: 10px;
}

.field {
  display: flex;
  margin: 25px auto;
  position: relative;
  width: 400px;
  height: 400px;
}

.cell {
  box-sizing: border-box;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid  rgba(4, 112, 0, 0.7);
  border-radius: 10px;
  font-size: 40px;
  color: #ffffff;
  background-color: rgba(4, 112, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
}
