*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
};

body{
  max-width: 1600px;
  
}

.header-bg{
  display: flex;
  flex-direction: column;
  width: 1600px;
  background-image: url(..//assets/bg-image.jpg);
  background-size: cover;
  margin: 0 auto;
}

.visuallyhidden{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header{
  padding-right: 15px;
}

.navigation-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 14px;
  line-height: 140%;
  font-weight: normal;
}

.nav-link:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-shadow: 0 0 .8px #fff, 0 0 .8px #fff;
}

.header-logo{
  width: 44px;
  height: 45px;
  margin: 25px 100px;
}

.navigation-logo-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-navigation-link{
  margin-left: 85px;
}

.right-navigation-link{
  margin-right: 85px;
}

.main{
  width: 1600px;
  margin: 0 auto;
}

.your-life{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 136px 0 88px 0;
}

.your-life-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 183px;
}

.your-life-title{
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 4.5px;
}

.your-life-discr{
  max-width: 504px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin: 20px 2px 30px 0;
}

.button-start{
  width: 184px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #00AFDB;
  color: #fff;
  border: none;
}
.button-start:hover{
  background-color:  #009CC2;;
  cursor: pointer;
}

.socials {
  width: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials-img:hover{
  transform: scale(1.5);
}

.socials-links:last-child{
  margin-right: 0;
}

.discription-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 118px 0 140px 0;
}

.content-rappresent{
  width: 407px;
  margin-right: 248px;
  display: flex;
  flex-direction: column;
}

.image-content{
  width: 407px;
  height: 582px;
}

.content-header{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height:30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.content-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4E4E4E;
  margin: 19.6px 0 29px 0;
}

.community {
  overflow: hidden;
  background-color: #F5F6F7;
  display: flex;
  justify-content: start;
  padding-left: 269px;
}

.content-community{
  margin-top: 155px;
  margin-bottom: 174px;
  margin-right: 139px;
  min-width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.community-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
  margin: 20px 0 10px 0;
}

.community-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4E4E4E;
  text-align: center;
}

.slider-community-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 140px;
}

.navigation-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
  margin-right: 142px;
}

.count-slider {
  font-size: 18px;
  margin: 0 14px;
  display: flex;
  align-items: center;
}

.slash{
  margin: 0 4px;
}

.left-arrow-nav, .right-arrow-nav {
  width: 9px;
  height: 14px;
}

.left-arrow-nav:hover, .right-arrow-nav:hover {
  opacity: 0.5;
}

.slider-community {
  display: flex;
}

.slide-community {
  margin-right: 30px;
  width: 407px;
  height: 244px;
}

.implement {
  padding: 118px 378px 140px 268px;
}

.content-implement {
  width: 407px;
  margin-left: 139px;
  display: flex;
  flex-direction: column;
}

.learn-button {
  width: 180px;
}


.sign-up {
  padding: 200px 0 220px 0;
  display: flex;
  justify-content: center;
  background: url(../assets/bg-image-section.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.content-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-header {
  color: #fff;
}

.form-sign-up {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.emai{
  width: 340px;
  height: 46px;
  padding: 13px 0 13px 24px;
  border: none;
}

input[type="email"]::placeholder{
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
}

.sign-up-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 46px;
  background: #00AFDB;
  border: none;
}

.sign-up-button:hover {
  background: #009CC2;
}

.emai:invalid:not(:placeholder-shown) {
  border:2px solid red
}

.emai:valid:not(:placeholder-shown) {
  border:2px solid green;
}

input:invalid:not(:placeholder-shown) {
  display: block;
}

.download {
  background: #F5F6F7;
  padding: 119px 560px 180px 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-text{
  text-align: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-download {
  width: 186px;
  height: 46px;
  display: flex;
  padding: 0;
  border: none;
}

.button-download:first-child{
  margin-right: 30px;
}

.button-text{
  width: 127px;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00AFDB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text:hover{
  cursor: pointer;
  background: #009CC2;
}

.button-icon {
  cursor: pointer;
  padding: 13px 21px;
  width: 59px;
  height: 46px;
  background: #009CC2;
}

.footer {
  margin: 0 auto;
  width: 1600px;
  padding: 60px 160px 80px 160px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:first-child::after{
  content: "";
  width: 1px;
  height: 8px;
  background: #4E4E4E;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-nav-link:last-child::before{
  content: "";
  width: 1px;
  height: 8px;
  background: #4E4E4E;
  margin-right: 20px;
  margin-left: 20px;
}

.footer-logo{
  margin: 0;
  margin-right: 68px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #818181;
}
